@model IEnumerable<ExerciseViewModel>
@{
    ViewBag.Title = "My favorite exercises";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="text-center row">
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="LegsExercises">Legs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="BackExercises">Back</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="ChestExercises">Chest</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="TricepsExercises">Triceps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="BicepsExercises">Biceps</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="ForearmsExercises">Forearms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="ShouldersExercises">Shoulders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="AbsExercises">Abs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </body>
    
</div>