﻿@using static GymApp.Common.GeneralApplicationConstants;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-info navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/gym_header.png" width="50" height="50" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Gym" asp-action="Exercises">ALL EXERCISES</a>
                        </li>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                                <a class="nav-link text-dark" asp-area="" asp-controller="MyFavoriteExercises" asp-action="MyFavoriteExercises">MY FAVORITE EXERCISES</a>
                            </li>
                            <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AddExercise" asp-action="AddExercise">ADD EXERCISE</a>
                            </li>
                            <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TrainingPlan" asp-action="TrainingPlans">MY TRAINING PLANS</a>
                            </li>
                            <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TrainingPlan" asp-action="AddTrainingPlan">ADD TRAINING PLAN</a>
                            </li>
                            <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Calculator" asp-action="CalMacro">CALORIE MACRO</a>
                            </li>
                        }
                        <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clothing" asp-action="Clothes">CLOTHES</a>
                        </li>
                        <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Accessory" asp-action="Accessories">ACCESSORIES</a>
                        </li>
                        <li class="nav-item" style="margin-right: 1rem; font-family: Trebuchet MS">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Supplement" asp-action="Supplements">SUPPLEMENTS</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-white text-muted">
        <section class="">
            <div class="container text-center text-md-start mt-5" style="margin-bottom: 50px;">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <font size="+1">Our mission is:</font>
                        </h6>
                        <font size="+1">
                            Hello, we want to provide you with an app to start and continue your fitness journey. With its help, you can both lose weight and gain the desired muscle mass.
                        </font>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">
                            <font size="+1">Social media:</font>
                        </h6>
                        <div class="icon">
                            <a href="https://www.instagram.com/_hardcore_gym/" role="button" class="me-4 link-secondary">
                                <i><img src="~/images//instagramIcon.png" width="30" height="30" class="d-inline-block align-top" alt=""></i>
                            </a>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4"><font size="+1">For us:</font></h6>
                        <font size="+1"><i class="fa fa-home" aria-hidden="true"></i> Bulgaria, Sofia, ul. Smolyanska</font>
                        <br />
                        <br />
                        <font size="+1">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            HardcoreGym@gmail.com
                        </font>
                        <br />
                        <br />
                        <font size="+1"><i class="fa fa-phone" aria-hidden="true"></i> +359 859 490 2348</font>
                        <br />
                        <br />
                        <font size="+1"><i class="fa fa-phone" aria-hidden="true"></i> +359 836 678 8939</font>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Copyright -->
        <div class="text-center p-4 bg-info">
            &copy; Hardcore Gym @ReleaseYear
            @if (DateTime.UtcNow.Year != ReleaseYear)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
