html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table-items {
    border-collapse: collapse;
    margin: 1px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .styled-table-items thead tr {
        background-color: #00BFFF;
        color: #ffffff;
        text-align: left;
    }

    .styled-table-items th,
    .styled-table-items td {
        padding: 12px 15px;
    }

    .styled-table-items tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table-items tbody tr:nth-of-type(1) {
            background-color: #00BFFF;
        }

        .styled-table-items tbody tr:last-of-type {
            border-bottom: 2px solid #00BFFF;
        }

        .styled-table-items tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
.styled-table {
    border-collapse: collapse;
    margin: 1px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .styled-table tbody tr:nth-of-type(1) {
            background-color: #00BFFF;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #00BFFF;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
.buy-button {
    background-color: #28a745; /* Green color for the button */
    border: none; /* Remove border */
    color: #ffffff; /* White text color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor on hover */
    transition: background-color 0.2s; /* Smooth transition on hover */
}

    .buy-button:hover {
        background-color: #218838; /* Darker green color on hover */
    }
.exercise-description {
    white-space: pre-wrap;
}

.training-plan-card {
    border: 1px solid #e9ecef;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
}

    .training-plan-card:hover {
        transform: translateY(-5px);
    }
.exercise-card {
    transition: transform 0.2s ease-in-out;
}
.exercise-card:hover {
    transform: translateY(-5px);
}
.clothing-card{
    transition: transform 0.2s ease-in-out;
}

    .clothing-card:hover {
        transform: translateY(-5px);
    }
.training-plan-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

    .training-plan-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .training-plan-card h3 {
        font-size: 24px;
        color: black;
    }

    .training-plan-card p.font-weight-bold {
        font-size: 16px;
        color: #6c757d;
    }

    .training-plan-card hr {
        border-color: #dee2e6;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .training-plan-card h4.mt-4 {
        font-size: 18px;
        color: #343a40;
    }

.exercise-description {
    font-size: 16px;
    color: #212529;
    line-height: 1.6;
}