@model IEnumerable<TrainingPlanViewModel>
@{
    ViewBag.Title = "Training plans for shoulders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var trainingPlan in Model)
    {
        @if (trainingPlan.Category == "Shoulders")
        {
            <div class="card col-4" style="width: 20rem; ">
                <div class="card-body">

                    <h5 class="card-title mt-1">@trainingPlan.Name</h5>
                    <hr>
                    <p class="mb-0">Description: @trainingPlan.Description</p>
                    <hr>
                    <p>Category: @trainingPlan.Category</p>
                </div>
            </div>
        }
    }
</div>