@model CategoryListViewModel
@{
    ViewData["Title"] = "All Exercises";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="list-group">
    @foreach (var item in Model.Categories)
    {
        <a href="@Url.Action("GetExercise", "Gym", new { id = item.Id })" class="list-group-item list-group-item-action">
            <div class="bg-image text-md-center">
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                    <div class="d-flex justify-content-center align-items-center h-10">
                        <p class="text-white mb-0"><h1>Legs</h1></p>
                    </div>
                </div>
            </div>
        </a>
    }
</div>
