@using GymApp.ViewModels.WearCategory;
@using static GymApp.Common.GeneralApplicationConstants;
@model WearCategoryListViewModel
@{
    ViewData["Title"] = "Clothes";
}
<div class="list-group" style="margin-bottom: 50px; margin-top: 50px;">
    @foreach (var category in Model.Categories)
    {
        <div class="bg-image text-md-center">
            <div class="mask" style="padding-bottom: 40px;">
                <div class="d-flex justify-content-center align-items-center h-10">
                    @switch (category.Name)
                    {
                        case WearTShirtsCategory:
                            <div class="clothes-container">
                                <h1 style="color: black; display: inline-block; font-size: 70px; margin-right: 180px; margin-left: 70px;">T-SHIRTS <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                                <a class="navbar-brand" asp-area="" asp-controller="Clothing" asp-action="GetClothing" asp-route-id="@category.Id">
                                    <img src="~/images/ShirtTwo.jpeg" alt="T-shirts" class="clothing-card" style="width:50%; display: inline-block; margin-left: 70px;">
                                </a>
                            </div>
                            break;

                        case WearHoodiesCategory:
                            <div class="clothes-container">
                                <a class="navbar-brand" asp-area="" asp-controller="Clothing" asp-action="GetClothing" asp-route-id="@category.Id">
                                    <img src="~/images/HoodieOne.jpg" alt="Hoodies" class="clothing-card" style="width:50%; display: inline-block; margin-right: 70px;">
                                </a>
                                <h1 style="color: black; display: inline-block; font-size: 70px; margin-left:180px; margin-right:70px;">HOODIES <br /><font style="font-family:Monospace; font-size:17px;">(Click the picture)</font></h1>
                            </div>
                            break;
                    }
                </div>
            </div>
        </div>
    }
</div>
