@{
    ViewData["Title"] = "Home Page";
}

<section style="margin-top: 50px;">
    <img class="mySlides w-100" style="height:600px;" src="~/images/slidePictureOfFood.jpg">
    <img class="mySlides w-100" style="height:600px;" src="~/images/SlidePictureOfGym.jpg">
    <img class="mySlides w-100" style="height:600px;" src="~/images/SlidePicturefancyFood.png">
    <img class="mySlides w-100" style="height:600px;" src="~/images/SlidePictureFood.webp">
</section>
<section class="w3-container w3-center w3-content" style="margin-top: 80px; margin-bottom: 100px;">
    <h1 class="w3-wide text-center">ONLINE COACHES</h1>
    <font class="w3-justify" size="+2"><center>We at Hardcore Gym have made sure that you have access to the most qualified online coaches who will help you get into your dream shape as quickly and healthily as possible!</center></font>
</section>


<div style="overflow:auto;  margin-bottom: 30px;">
    <div style="float:left;width:30%">
        <img src="~/images/CoachValentinGeorgiev.jpg" alt="Valentin Georgiev" style="width:135%; display: inline-block; padding-inline-end: 10px;">
    </div>
    <div style="float:right; width:70%; padding-inline-start: 150px;">
        <h2>Valentin Georgiev</h2>
        <br />
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-heart" aria-hidden="true"></i> Age: 31</h4>
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +359 836 420 7618</h4>
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-envelope" aria-hidden="true"></i> Email: valkatacoach@gmail.bg</h4>
        <br />
        <h5 style="font-family: Trebuchet MS"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Introducing Valentin, a highly accomplished and experienced man coach with over 11 years of coaching expertise, specializing in physique training and transformation. Notably, Valentin has achieved incredible success in his own athletic career, securing three consecutive Classic Physique Olympia victories, a testament to his exceptional coaching methods and dedication to excellence. His track record and personal achievements make him an outstanding coach for those aspiring to reach their peak physical potential.</h5>
    </div>
</div>

<div style="overflow:auto;  margin-bottom: 30px;">
    <div style="float:left;width:30%">
        <img src="~/images/CoachNadejdaBakalova.jpg" alt="Nadejda Bakalova" style="width:135%; display: inline-block; padding-inline-end: 10px;">
    </div>
    <div style="float:right; width:70%; padding-inline-start: 150px;">
        <h2>Nadejda Bakalova</h2>
        <br />
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-heart" aria-hidden="true"></i> Age: 23</h4>
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +359 877 990 7558</h4>
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-envelope" aria-hidden="true"></i> Email: nadejdacoach@gmail.bg</h4>
        <br />
        <h5 style="font-family: Trebuchet MS"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Meet Nadejda, a dedicated and experienced woman coach who has been honing her coaching skills for the past five years, helping individuals achieve their goals and unlock their true potential with her expertise and guidance. Her passion for coaching and commitment to empowering others make her a valuable asset to any individual or team seeking personal and professional growth.</h5>
    </div>
</div>

<div style="overflow:auto; margin-bottom: 30px;">
    <div style="float:left;width:30%">
        <img src="~/images/CoachDragoGigov.jpg" alt="Drago Gigov" style="width:135%; display: inline-block; padding-inline-end: 10px;">
    </div>
    <div style="float:right; width:70%; padding-inline-start: 150px;">
        <h2>Drago Gigov</h2>
        <br />
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-heart" aria-hidden="true"></i> Age: 29</h4>
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-phone" aria-hidden="true"></i> Phone: +359 878 691 7112</h4>
        <h4 style="font-family: Trebuchet MS"><i class="fa fa-envelope" aria-hidden="true"></i> Email: dragocoach@gmail.bg</h4>
        <br />
        <h5 style="font-family: Trebuchet MS"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Allow me to introduce Drago, a highly skilled and dedicated man coach who has been transforming lives for the past seven years. With his expert guidance and unwavering commitment, Ryan has facilitated hundreds of successful transformations, empowering individuals to achieve their health and fitness goals and unlock their true potential.</h5>
    </div>
</div>
<script>
    // Automatic Slideshow - change image every 3 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }
</script>