@{
    ViewData["Title"] = "Home Page";
}

<section style="margin-top: 50px;">
    <img class="mySlides w-100" style="height:500px;" src="https://assets-api.kathmandupost.com/thumb.php?src=https://assets-cdn.kathmandupost.com/uploads/source/news/2020/lifestyle/shutterstock467823860-1597328162.jpg&w=900&height=601">
    <img class="mySlides w-100" style="height:500px;" src="https://www.mrporter.com/cms/ycm/resource/blob/732710/43cc80bbb776a9d8d1b8db153565d2ce/8cbc8ceb-41ca-41d5-ba7a-4d994ad7bc14-data.jpg">
    <img class="mySlides w-100" style="height:500px;" src="https://steelsupplements.com/cdn/shop/articles/shutterstock_330437213_1000x.jpg?v=1654783417">
</section>
<section class="w3-container w3-center w3-content" style="margin-top: 50px;">
    <h1 class="w3-wide text-center">COACHES</h1>
    <font class="w3-justify" size="+2"><center>We at Hardcore Gym have made sure that you have access to the most qualified online coaches who will help you get into your dream shape as quickly and healthily as possible!</center></font>
</section>
<section class="w3-row-padding w3-center" style="margin-top: 100px;">
    <article class="w3-third">
        <font size="+3" style="margin-bottom: 20px;">Valentin Georgiev:</font>
        <img src="~/images/CoachValentinGeorgiev.jpg" alt="Valentin Georgiev" style="width:40%;">
        <font size ="+1">3x Classic Physique Olympia</font>
        <font size ="+1">Age: 31</font>
        <font size ="+1">Phone: +359 836 420 7618</font>
    </article>
    <article class="w3-third">
        <img src="~/images/CoachNadejdaBakalova.jpg" alt="Nadejda Bakalova" style="width:40%">
        <br />
        <font size="+2">Nadejda Bakalova</font>
        <br />
        <font size="+1">Age: 23</font>
        <br />
        <font size="+1">Phone: +359 877 990 7558</font>
    </article>
    <article class="w3-third">
        <img src="~/images/CoachDragoGigov.jpg" alt="Drago Gigov" style="width:40%; display: inline-block;">
        <br />
        <font size="+2">Drago Gigov</font>
        <br />
        <font size="+1">Age: 29</font>
        <br />d
        <font size="+1">Phone: +359 878 691 7112</font>
    </article>
</section>
<div style="overflow:auto">
    <div style="float:left;width:30%">
        <img src="~/images/CoachDragoGigov.jpg" alt="Drago Gigov" style="width:120%; display: inline-block; padding-inline-end: 10px;">
    </div>
    <div style="float:right; width:70%; padding-inline-start: 100px;">
        <font size="+2">Drago Gigov</font>
        <br />
        <font size="+1">Age: 29</font>
        <br />d
        <font size="+1">Phone: +359 878 691 7112</font>
    </div>
</div>
<script>
    // Automatic Slideshow - change image every 3 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3000);
    }
</script>